temp/
dist/
node_modules/
bower_components/
_SpecRunner.html
.DS_Store
test-results.xml
.idea/
cache/
release/
YouProductive-darwin-x64/
youproductive-win32-x64/
youproductive-desktop-win32-ia32/
youproductive-desktop-win32-x64/
src/
app.asar
electron-packager/
npm-debug.log
