$header-nav-bar: #424951;
$background-color: #eeeeee; // round button
$badge-color: #cccccc;
$badge-font-color: #555555; // left-column font color // date // files kb
$left-column-icon-color: #878787;
$text-input-text-color: #999999;
$round-button-text-color: #7d7d7d;
$box-shadow: #e0e0e0;
$tiny-icon: #757575;
$task-text-color: #000000;
$task-left-icons: #aaaaaa;
$star-color: #ffc600;
$priority-color: #a51c1c;
$active-color: #1d9622;

$icon-word: #0384c6;
$icon-pdf: #c34046;
$icon-excel: #259958;
$icon-power: #da4d32;
$icon-image: #8538b6;

$default-color: #000000;
$actions-color: #aaaaaa;
$mini-icons-color: #757575;

$default-font-size: 1.4rem; // 14px