<div class="modal-header">
    <h3 class="modal-title">Select a status below:</h3>
</div>
<div class="modal-body">
    <p><a href="">No status</a></p>
    <h4>To do next, planning, started</h4>
    <p><a href="">To do next</a></p>
    <p><a href="">Planning</a></p>
    <p><a href="">Task in progress</a></p>
    <h4>Delegate/waiting</h4>
    <p><a href="">Task delegated</a></p>
    <p><a href="">Waiting</a></p>
    <h4>On hold, postponed or to do someday</h4>
    <p><a href="">Task on hold</a></p>
    <p><a href="">Task postponed</a></p>
    <p><a href="">To do someday</a></p>
    <h4>Cancelled or completed</h4>
    <p><a href="">Task canceled</a></p>
    <p><a href="">Task completed</a></p>
</div>