<div class="row">
    <div class="left-column col-xs-2">
        <div id="yp-left-column">
            <ul class="yp-taskgroup">
                <li hover-link><a href=""  ng-click="vm.editprofile()" class="youlink"><i class="material-icons">person</i> Edit Profile</a></li>
                <li hover-link><a href="" class="youlink"><i class="material-icons">mail_outline</i> Email Addresses</a></li>
                <li hover-link><a href="" class="youlink"><i class="material-icons">error_outline</i> Notifications</a></li>
                <li hover-link><a href="" class="youlink"><i class="material-icons">security</i> Security</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-8" style="background-color:#fff; margin-top: 20px">
        <h2>Overview</h2>
        <div class="row" style="padding:45px;">
            
            <div class="col-xs-3 app-menu-item" ng-click="vm.editprofile()">
                <div class="icon-circle" style="width: 90px;height: 90px;margin: 0 auto;border: 3px solid #777;border-radius: 50%;">
                    <i class="material-icons" style="margin-top: 8px">person</i>
                </div>
                <div class="details">
                    <h4>Edit Profile</h4>
                    <p>Edit your full name, profile photo and location</p>
                </div>
            </div>
            <div class="col-xs-3 app-menu-item" ng-click="vm.editprofile()">
                <div class="icon-circle" style="width: 90px;height: 90px;margin: 0 auto;border: 3px solid #777;border-radius: 50%;">
                    <i class="material-icons" style="margin-top: 8px">mail_outline</i>
                </div>
                <div class="details">
                    <h4>Email Address</h4>
                    <p>Change your email address you use to login</p>
                </div>
            </div>
            <div class="col-xs-3 app-menu-item" ng-click="vm.editprofile()">
                <div class="icon-circle" style="width: 90px;height: 90px;margin: 0 auto;border: 3px solid #777;border-radius: 50%;">
                    <i class="material-icons" style="margin-top: 8px">notifications_none</i>
                </div>
                <div class="details">
                    <h4>Notifications</h4>
                    <p>Manage your notifications</p>
                </div>
            </div>
            <div class="col-xs-3 app-menu-item" ng-click="vm.editprofile()">
                <div class="icon-circle" style="width: 90px;height: 90px;margin: 0 auto;border: 3px solid #777;border-radius: 50%;">
                    <i class="material-icons" style="margin-top: 8px">security</i>
                </div>
                <div class="details">
                    <h4>Security</h4>
                    <p>Change your password and security questions</p>
                </div>
            </div>
        </div>
    
    </div>
    <div class="col-xs-2">
    
    </div>
</div>