<div class="register-block-holder">
    <div class="register-box-container">
        <div class="inner-register-box">
            <div class="register-logo-holder">
                <img src="/assets/images/logo.jpg" />
            </div>
            <br clear="all" />
            <div class="register-box-container">
                <div class="register-box">
                    
                    <div class="lb-items">
                        <div ng-if="userVerified">
                            User activation successful!
                            <br/>
                            <br/>
                            Please set your account password below
                            <br/>
                            <br/>
                            <form name="form" ng-submit="vm.setpassword()" role="form">
                                <div class="form-group">
                                    <md-input-container class="md-block md-subhead" flex="auto">
                                        <label>Password</label>
                                        <input name="password" id="password" type="password" ng-model="vm.user.password" />
                                    </md-input-container>

                                    <button type="submit" class="register-btn">SET PASSWORD</button>
                                </div>
                                
                            </form>
                        </div>

                        <div ng-if="!userVerified">
                            User activation failed!
                            <br/>
                            <br/>
                            Activation code already verified or not exist.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>