<div class="row">
    <div class="container">
        <div class="col-md-9">
            <p><h4>Add Notification</h4></p>
            <form name="form" ng-submit="vm.create()" role="form" class="form-inline">
                <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                    <label class="sr-only" for="description">Notification</label>
                    <input type="text" name="description" id="description" class="form-control input-width-custom" ng-model="vm.notification.description" placeholder="Notification" required />
                    <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Notification is required</span>
                </div>

                <div class="form-group">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row row-margin-top-custom">
    <div class="container">
        <div class="col-md-9">
            <table class="table table-condensed table-hover">
                <thead>
                    <th>Description&nbsp;</th>
                    <th>Action&nbsp;</th>
                </thead>
                    
                <tbody>
                    <tr ng-repeat="notification in notifications.notifications" ng-include="vm.getTemplate(notification)">
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/ng-template" id="display">
    <td>{{notification.description}}</td>
    <td>
        <a data-ng-click="vm.deleteNotification(notification.id)" class="btn">&nbsp;<i class="glyphicon glyphicon-remove"></i>&nbsp; Delete</a>
    </td>
</script>